.calculator {
    height: 420px;
    width: 305px;
    border-radius: 5px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(5, 62px);

    padding: 16px;
    background-color: #ceced0;

    box-shadow: 5px 5px 5px #333;
}